* {
  font-family: 'Lato', sans-serif;
}

.carousel {
  width:100%;
}

* {
  border-radius: 0 !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.navbar {
    margin-bottom: 0;
}